<div class="cs">
	<div class="cs-bg"></div>

	<div class="cs-top">
		<button type="button" class="cs-back" aria-label="Leave">&lsaquo; Leave</button>
		<div class="cs-brand">e<span class="ro">XR</span>o</div>
		<div class="cs-count"><span class="used">0</span> / <span class="max">0</span></div>
	</div>

	<section class="cs-stats" hidden>
		<div class="cs-name">&nbsp;</div>
		<div class="cs-sub">&nbsp;</div>

		<div class="cs-bars">
			<div class="barrow">
				<span class="lbl">HP</span>
				<span class="bar hp"><i></i></span>
				<span class="hpv">&nbsp;</span>
			</div>
			<div class="barrow">
				<span class="lbl">SP</span>
				<span class="bar sp"><i></i></span>
				<span class="spv">&nbsp;</span>
			</div>
		</div>

		<div class="cs-info">
			<div class="wide"><span>Map</span><b class="v-map">&nbsp;</b></div>
			<div class="wide"><span>Job</span><b class="v-job">&nbsp;</b></div>
			<div><span>Base Lv</span><b class="v-base">&nbsp;</b></div>
			<div><span>Job Lv</span><b class="v-joblv">&nbsp;</b></div>
			<div><span>Exp</span><b class="v-exp">&nbsp;</b></div>
			<div><span>Zeny</span><b class="v-zeny">&nbsp;</b></div>
		</div>

		<div class="cs-attr">
			<div><span>STR</span><b class="a-str">0</b></div>
			<div><span>INT</span><b class="a-int">0</b></div>
			<div><span>AGI</span><b class="a-agi">0</b></div>
			<div><span>DEX</span><b class="a-dex">0</b></div>
			<div><span>VIT</span><b class="a-vit">0</b></div>
			<div><span>LUK</span><b class="a-luk">0</b></div>
		</div>

		<div class="cs-tools">
			<button type="button" class="tool rename">Rename</button>
			<span class="sep"></span>
			<button type="button" class="tool delete">Delete</button>
			<button type="button" class="tool canceldelete" hidden>Cancel deletion</button>
			<button type="button" class="tool finaldelete" hidden>Delete now</button>
		</div>
	</section>

	<div class="cs-carousel">
		<button type="button" class="cs-nav prev" aria-label="Previous">&lsaquo;</button>
		<div class="cs-cards"></div>
		<button type="button" class="cs-nav next" aria-label="Next">&rsaquo;</button>
		<div class="cs-dots"></div>
	</div>

	<div class="cs-rail">
		<button type="button" class="cs-new">+ Create a character</button>
		<div class="cs-slots"></div>
	</div>

	<div class="cs-actions">
		<button type="button" class="btn enter">Enter World</button>
	</div>
</div>
