:host {
	top: 100px;
	left: 100px;
	width: 250px;
	height: 65px;
}

#SoundOption {
	position: absolute;
}

#SoundOption .titlebar {
	width: 100%;
	height: 17px;
}
#SoundOption .titlebar .text {
	text-shadow: none;
	vertical-align: -2px;
	white-space: nowrap;
	display: inline-block;
	height: 13px;
	font-size: 11px;
	font-weight: bold;
	color: var(--sj-text);
}

#SoundOption .titlebar .left {
	margin-left: 3px;
	float: left;
}
#SoundOption .titlebar .right {
	float: right;
	margin-right: 3px;
}
#SoundOption .titlebar .clear {
	clear: both;
}

#SoundOption .panel {
	padding: 4px 5px;
	color: var(--sj-text);
}
