<div id="Rodex">
	<div class="body sj-panel">
		<div class="titlebar sj-titlebar">
			<div class="right">
				<button class="base close sj-winbtn">×</button>
			</div>
		</div>
		<div class="iconbar">
			<button class="base refresh sj-btn">
				<span data-text="2849"></span>
			</button>
			<button class="base write sj-btn">
				<span data-text="1026"></span>
			</button>
		</div>
		<div class="searchbar">
			<button
				class="base search-title sj-winbtn"
				data-background="basic_interface/rodexsystem/renewal/checkbox_search_on.bmp"
			></button>
			<span class="search-title-text search-text" data-text="3192"></span>
			<button
				class="base search-sender sj-winbtn"
				data-background="basic_interface/rodexsystem/renewal/checkbox_search_off.bmp"
			></button>
			<span class="search-sender-text search-text" data-text="3193"></span>
			<input class="search sj-input" type="text" />
			<button class="base search-btn sj-winbtn">⌕</button>
		</div>
		<div class="navbar">
			<ul class="nav">
				<li id="tab_1" class="nav-item" data-text="3546"></li>
				<li id="tab_0" class="nav-item active" data-text="3547"></li>
				<li id="tab_2" class="nav-item" data-text="3548"></li>
				<li id="tab_3" class="nav-item" data-text="3549"></li>
			</ul>
		</div>
		<div class="rodex-list">
			<ul class="mail-list"></ul>
		</div>
		<div class="footer">
			<button class="base delete-all sj-btn" data-text="3589"></button>
			<button class="base retrieve-all sj-btn" data-text="3592"></button>
			<button class="base previous-page sj-winbtn">‹</button>
			<button class="base next-page sj-winbtn">›</button>
		</div>
	</div>
</div>
