<div id="Storage" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<span class="text"><ui-text msg="169">Storage</ui-text></span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tbody>
				<tr>
					<td colspan="2" class="tabs">
						<button class="item sj-slot" title="Item"></button>
						<button class="kafra sj-slot" title="Cash"></button>
						<button class="armor sj-slot" title="Armor"></button>
						<button class="arms sj-slot" title="Weapon"></button>
						<button class="ammo sj-slot" title="Ammo"></button>
						<button class="card sj-slot" title="Card"></button>
						<button class="etc sj-slot" title="Etc"></button>
					</td>
					<td class="container">
						<div class="content"></div>
					</td>
				</tr>
			</tbody>
			<tfoot class="footer">
				<tr>
					<td colspan="3" class="filter-buttons">
						<button class="filter-use sj-slot" data-tab-id="0" title="Use">U</button>
						<button class="filter-kafra sj-slot" data-tab-id="1" title="Cash">C</button>
						<button class="filter-armor sj-slot" data-tab-id="2" title="Armor">A</button>
						<button class="filter-arms sj-slot" data-tab-id="3" title="Weapon">W</button>
						<button class="filter-ammo sj-slot" data-tab-id="4" title="Ammo">Am</button>
						<button class="filter-card sj-slot" data-tab-id="5" title="Card">Cd</button>
						<button class="filter-etc sj-slot" data-tab-id="6" title="Etc">E</button>
						<select class="storage-order-by sj-input">
							<option value="BASE">Base</option>
							<option value="UPGRADE">Upgrade</option>
							<option value="DOWNGRADE">Downgrade</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="item_num_display">
							<span class="current">0</span><span class="divider">/</span><span class="limit">0</span>
						</div>
					</td>
					<td>
						<div class="search-container">
							<input id="storage-search-input" type="text" class="search-input sj-input" />
							<ui-button class="search-button sj-winbtn">⌕</ui-button>
						</div>
						<ui-button class="close sj-winbtn">×</ui-button>
						<button class="extend"></button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
