<div id="ItemReform">
	<div class="container sj-panel">
		<div class="titlebar sj-titlebar">
			<div class="left">
				<ui-button class="base"></ui-button>
				<span class="item_text"></span>
			</div>
			<div class="right">
				<ui-button class="base close sj-winbtn">×</ui-button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="overlay"></div>
		<div class="panel">
			<div class="left_panel">
				<div class="result_info_container">
					<div class="result_item"></div>
					<div class="base_item"></div>
					<div class="result_item_text"></div>
					<div class="information_details"><ui-text msg="3854"></ui-text></div>
					<div class="material_list"></div>
				</div>
			</div>
			<div class="right_panel">
				<div class="available_material_list"></div>
			</div>
		</div>
		<div class="footer">
			<div class="some_notifs">
				<span class="info_msg"></span>
			</div>
			<ui-button class="cancel sj-btn">Cancel</ui-button>
			<ui-button class="reform_enabled sj-btn primary"><ui-text msg="3847"></ui-text></ui-button>
			<ui-button class="reform_disabled sj-btn"><ui-text msg="3847"></ui-text></ui-button>
		</div>
	</div>
</div>
