<div id="changecart" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<button class="base"></button>
			<span class="text" data-text="659">ChangeCart</span>
		</div>
		<div class="right">
			<button class="base mini sj-winbtn">–</button>
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="carts">
		<div class="cart" data-id="1">
			<canvas id="cart1" class="canvas" width="75" height="80" style="pointer-events: none" data-id="1"></canvas>
		</div>
		<div class="cart" data-id="2">
			<canvas id="cart2" class="canvas" width="75" height="80" style="pointer-events: none" data-id="2"></canvas>
		</div>
		<div class="cart" data-id="3">
			<canvas id="cart3" class="canvas" width="75" height="80" style="pointer-events: none" data-id="3"></canvas>
		</div>
		<div class="cart" data-id="4">
			<canvas id="cart4" class="canvas" width="75" height="80" style="pointer-events: none" data-id="4"></canvas>
		</div>
		<div class="cart" data-id="5">
			<canvas id="cart5" class="canvas" width="75" height="80" style="pointer-events: none" data-id="5"></canvas>
		</div>
		<div class="cart" data-id="6">
			<canvas id="cart6" class="canvas" width="75" height="80" style="pointer-events: none" data-id="6"></canvas>
		</div>
		<div class="cart" data-id="7">
			<canvas id="cart7" class="canvas" width="75" height="80" style="pointer-events: none" data-id="7"></canvas>
		</div>
		<div class="cart" data-id="8">
			<canvas id="cart8" class="canvas" width="75" height="80" style="pointer-events: none" data-id="8"></canvas>
		</div>
		<div class="cart" data-id="9">
			<canvas id="cart9" class="canvas" width="75" height="80" style="pointer-events: none" data-id="9"></canvas>
		</div>
	</div>
</div>
