<div id="Trade" class="sj-panel">
	<div class="titlebar sj-titlebar">Trade : <span class="title"></span></div>
	<div class="overlay"></div>
	<div class="content">
		<div class="box send"></div>
		<div class="box recv"></div>

		<input type="text" class="zeny send sj-input" value="0" />
		<div class="zeny recv disabled">0</div>

		<ui-button class="btn ok enabled sj-btn primary">OK</ui-button>
		<ui-button class="btn ok disabled sj-btn">OK</ui-button>
		<ui-button class="btn trade enabled sj-btn primary">Trade</ui-button>
		<ui-button class="btn trade disabled sj-btn">Trade</ui-button>
		<ui-button class="btn cancel sj-btn">Cancel</ui-button>
	</div>
</div>
