:host {
	width: 43px;
	height: 45px;
	right: 261px;
	top: 17px;
}

#SeROjaMarketIcon {
	position: absolute;
	width: 43px;
	height: 45px;
}

#SeROjaMarketIcon .market-icon {
	width: 43px;
	height: 45px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
