<div id="cartitems" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<button class="base"></button>
			<span class="text" data-text="222">CartItems</span>
		</div>
		<div class="right">
			<button class="base mini sj-winbtn">–</button>
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td class="container">
					<div class="ff_bugfix">
						<div class="hide"></div>
						<div class="content"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="footer">
					<div class="cnt">Num:<span class="ncnt"></span>/<span class="mcnt"></span></div>
					<div class="wt">Weight:<span class="nwt"></span>/<span class="mwt"></span></div>
					<button class="extend"></button>
				</td>
			</tr>
		</table>
	</div>
</div>
