:host {
	top: 0px;
	left: 0px;
	z-index: 1000;
}

#inputbox {
	position: relative;
	width: 274px;
	height: 44px;
	padding: 2px;
}
#inputbox .border {
	width: 262px;
	height: 37px;
	padding-top: 5px;
	padding-left: 10px;
	box-sizing: border-box;
}
#inputbox .text {
	width: 270px;
	height: 13px;
	overflow: hidden;
}
#inputbox input {
	width: 203px;
	height: 16px;
	margin-top: 3px;
	box-sizing: border-box;
}
#inputbox ui-button {
	width: 56px;
	height: 22px;
	padding: 0;
	font-size: 11px;
	position: absolute;
	bottom: 11px;
	right: 10px;
}

#inputbox.number {
	width: 174px;
}
#inputbox.number .border {
	width: 162px;
}
#inputbox.number .text {
	width: 170px;
}
#inputbox.number input {
	width: 103px;
}
