<div id="vendingshop" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<span class="text shopname"></span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td class="container">
					<div class="ff_bugfix">
						<div class="hide"></div>
						<div class="content"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="footer">
					<div class="right">
						<ui-button class="btn close sj-btn">Close</ui-button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
