<div id="CaptchaUpload" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<span class="text">Upload</span>
		</div>
		<div class="right">
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="custom_file_input">
			<input type="text" class="captcha_file_text sj-input" readonly placeholder="No file selected" />
			<button class="btn_browse sj-btn">…</button>
			<input type="file" class="captcha_file_input" accept="image/bmp" style="display: none" />
		</div>
		<div class="preview_box"></div>
		<div class="controls">
			<input type="text" class="answer_input sj-input" placeholder="Captcha Answer" />
			<button class="btn ok sj-btn primary">OK</button>
		</div>
	</div>
</div>
