<div id="CaptchaSelector" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<span class="text">Select</span>
		</div>
		<div class="right">
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="options">
			<input id="target_type_character" type="radio" name="target_type" value="character" checked />
			<label for="target_type_character"><ui-text msg="2887"></ui-text></label>
			<input id="target_type_range" type="radio" name="target_type" value="range" />
			<label for="target_type_range"><ui-text msg="2888"></ui-text></label>
			<input type="number" class="range_val sj-input" value="1" min="1" max="9" />
			<button class="btn btn_active sj-btn">Select</button>
		</div>
		<ul class="player_list">
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
			<li class="player"></li>
		</ul>
		<div class="footer">
			<button class="btn ok sj-btn primary">OK</button>
		</div>
	</div>
	<div class="character_info sj-panel">
		<button class="base close-character sj-winbtn">×</button>
		<span class="character-name"></span><br />
		<span class="character-job"></span>
	</div>
</div>
