<div id="CaptchaAnswer" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<span class="text">Verification</span>
		</div>
		<div class="right"></div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="information">
			<div class="message">
				<ui-text msg="2883">Hello, illegal software is being monitored.</ui-text><br />
				<ui-text msg="2884">Please enter the text below within the specified time.</ui-text><br />
				<ui-text msg="2885">If you enter the text wrong three times, you will get banned</ui-text><br />
				<span class="error_text"></span>
			</div>
			<div class="timer_bar_bg sj-bar">
				<i class="timer_bar_fill"></i>
			</div>

			<div class="status">
				<span class="retry_count">Remaining chance: 3</span>
				<span class="timer_text">00:59</span>
			</div>
		</div>
		<div class="preview_box"></div>
		<div class="controls">
			<input type="text" class="answer_input sj-input" placeholder="Captcha Answer" />
			<button class="btn ok sj-btn primary">OK</button>
		</div>
	</div>
</div>
