<div id="CheckAttendance">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text">Check Attendance</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>

	<div class="panel">
		<div class="top-panel">
			<div class="top-panel-reward">
				<div class="text">Check Reward</div>
			</div>
			<div class="top-panel-period"></div>
		</div>
		<div class="left-panel">
			<ul class="days-list"></ul>
		</div>
		<div class="right-panel">
			<div class="total-days"></div>
			<div class="npc"></div>
			<div class="remaining-days">
				<div class="remaining-day">
					<div class="remaining-day-text"></div>
				</div>
				<div class="remaining-text">
					<div class="remaining-text-div">Day</div>
				</div>
			</div>
		</div>
		<div class="bottom-panel">
			<div class="close-container">
				<ui-button class="close-container-btn">Close</ui-button>
			</div>
		</div>
	</div>
</div>
