<div id="ChatRoom" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left"><span class="title"></span> (<span class="count"></span>)</div>
		<div class="right">
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel">
		<div class="content resize">
			<div class="messages resize"></div>
			<div class="members resize"></div>
			<div class="clear"></div>
		</div>
		<div class="send">
			<input type="text" name="message" class="sendmsg" />
			<button class="extend"></button>
		</div>
	</div>
</div>
