<div id="cartdecoration" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<button class="base"></button>
			<span class="text">Cart Decoration</span>
		</div>
		<div class="right">
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="carts">
		<div class="cart" data-id="10">
			<canvas
				id="deco_cart10"
				class="canvas"
				width="75"
				height="80"
				style="pointer-events: none"
				data-id="10"
			></canvas>
		</div>
		<div class="cart" data-id="11">
			<canvas
				id="deco_cart11"
				class="canvas"
				width="75"
				height="80"
				style="pointer-events: none"
				data-id="11"
			></canvas>
		</div>
		<div class="cart" data-id="12">
			<canvas
				id="deco_cart12"
				class="canvas"
				width="75"
				height="80"
				style="pointer-events: none"
				data-id="12"
			></canvas>
		</div>
	</div>
</div>
