<div id="MercenaryInformations">
	<div class="content sj-panel">
		<div class="left">
			<span class="text">Mercenary Info</span>
		</div>
		<div class="right">
			<ui-button class="base close sj-winbtn">×</ui-button>
		</div>
		<div class="clear"></div>

		<div class="title_name">Name</div>
		<div class="name"></div>
		<div class="title_level">Level</div>
		<div class="level"></div>

		<ui-button class="skill sj-btn">Skills</ui-button>
		<ui-button class="dismiss sj-btn">Dismiss</ui-button>

		<div class="stats">
			<div class="atk"></div>
			<div class="Matk"></div>
			<div class="hit"></div>
			<div class="critical"></div>
			<div class="def"></div>
			<div class="Mdef"></div>
			<div class="flee"></div>
			<div class="aspd"></div>
		</div>

		<div class="hp_bar sj-bar hp">
			<i class="hp_bar_fill"></i>
			<div class="hp_bar_perc"><span class="hp_value"></span> / <span class="hp_max_value"></span></div>
		</div>
		<div class="hp2"></div>

		<div class="sp_bar sj-bar sp">
			<i class="sp_bar_fill"></i>
			<div class="sp_bar_perc"><span class="sp_value"></span> / <span class="sp_max_value"></span></div>
		</div>
		<div class="sp2"></div>

		<div class="block2">
			<div class="title_timeleft">
				Time Left
				<div class="timeleft"></div>
			</div>
			<canvas class="life title_timeleft" width="60" height="5"></canvas>

			<div class="title_kills">
				Kills
				<div class="kills"></div>
			</div>
			<canvas class="life title_kills" width="60" height="5"></canvas>

			<div class="title_faith">
				Faith
				<div class="faith"></div>
			</div>
		</div>
	</div>
</div>
