:host {
	width: 43px;
	height: 45px;
	right: 203px;
	top: 17px;
}

#SeROjaMallIcon {
	position: absolute;
	width: 43px;
	height: 45px;
}

#SeROjaMallIcon .mall-icon {
	width: 43px;
	height: 45px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
