<div id="PetEvolution" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<span class="text" data-text="2567">Pet Evolution</span>
		</div>
		<div class="right">
			<button class="base close sj-winbtn">×</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content">
		<div class="pet_illust_holder">
			<div class="base_pet_illust"></div>
			<div class="next">▶</div>
			<div class="target_pet_illust"></div>
		</div>
		<div class="pet_eggID_holder">
			<div class="base_petEggId"></div>
			<div class="target_petEggId"></div>
		</div>
		<div class="evo_requirements"></div>
		<div class="footer">
			<button class="evolve sj-btn primary">Evolve</button>
			<button class="big_cancel sj-btn">Cancel</button>
		</div>
	</div>
</div>
