<div id="Escape" class="sj-panel">
	<div class="top">
		<button class="node"></button>
		<div class="title" data-text="1483">Select Option</div>
	</div>

	<div class="container">
		<button class="resurection sj-btn">Resurrection</button>
		<button class="savepoint sj-btn">Return to Save Point</button>
		<button class="charselect sj-btn">Return to Char Select</button>
		<button class="graphics sj-btn">Graphic Settings</button>
		<button class="sound sj-btn">Sound Settings</button>
		<button class="hotkey sj-btn">Hotkey Settings</button>
		<button class="exit sj-btn">Exit Game</button>
		<button class="cancel sj-btn primary">Cancel</button>
	</div>
</div>
