<div id="ExroMarket" class="exs">
	<div class="exs-bar">
		<span class="ttl"><b>eXRo</b> Market</span>
		<span class="x" title="Close">&times;</span>
	</div>
	<div class="exs-tabs">
		<button data-tab="browse" class="on">Browse</button>
		<button data-tab="mine">My Listings</button>
		<button data-tab="orders">My Orders</button>
		<button data-tab="wallet">Wallet</button>
	</div>
	<div class="exs-filters">
		<select class="cat">
			<option value="-">All categories</option>
			<option value="weapon">Weapons</option>
			<option value="armor">Armor</option>
			<option value="card">Cards</option>
			<option value="consumable">Consumables</option>
			<option value="costume">Costumes</option>
			<option value="etc">Etc</option>
		</select>
		<span class="grow"></span>
		<span class="wallet-mini"></span>
	</div>
	<div class="exs-list"></div>
	<div class="exs-foot">
		<span class="pg">
			<button class="prev" disabled>&lsaquo;</button>
			<span class="pgn">1</span>
			<button class="next">&rsaquo;</button>
		</span>
		<span class="st"></span>
	</div>
</div>
