:host {
	width: 300px;
	height: 417px;
	top: 100px;
	left: 100px;
}

#CardIllustration {
	position: absolute;
	width: 300px;
	height: 417px;
}
#CardIllustration .titlebar .close {
	width: 16px;
	height: 16px;
	font-size: 10px;
	vertical-align: middle;
}
#CardIllustration .titlebar .text {
	text-shadow: none;
	vertical-align: -2px;
	white-space: nowrap; /* chrome bug */
	display: inline-block;
	width: 32px;
	height: 13px;
	font-size: 11px;
	font-weight: bold;
}

#CardIllustration .titlebar .left {
	margin-left: 3px;
	float: left;
}
#CardIllustration .titlebar .right {
	float: right;
	margin-right: 3px;
}
#CardIllustration .titlebar .clear {
	clear: both;
}

#CardIllustration .content {
	width: 300px;
	height: 400px;
}
