<div id="Pincodewindow" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<ui-button class="base"></ui-button>
			<span class="text" data-text="1899">Pincodewindow</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel">
		<span class="txtlabel text1" data-text="1905">Pincodewindow</span>
		<span class="txtlabel text2" data-text="1906">Pincodewindow</span>
		<ui-button class="btn num1 sj-slot">1</ui-button>
		<ui-button class="btn num2 sj-slot">2</ui-button>
		<ui-button class="btn num3 sj-slot">3</ui-button>
		<ui-button class="btn num4 sj-slot">4</ui-button>
		<ui-button class="btn num5 sj-slot">5</ui-button>
		<ui-button class="btn num6 sj-slot">6</ui-button>
		<ui-button class="btn num7 sj-slot">7</ui-button>
		<ui-button class="btn num8 sj-slot">8</ui-button>
		<ui-button class="btn num9 sj-slot">9</ui-button>
		<ui-button class="btn num0 sj-slot">0</ui-button>
		<ui-button class="numReset sj-btn">Reset</ui-button>
		<span class="txtlabel pwd" data-text="1012">Pincodewindow</span>
		<input class="pass sj-input" type="password" value="" />
		<span class="txtlabel newpwd" data-text="1013">Pincodewindow</span>
		<input class="newpass sj-input" type="password" value="" />
		<span class="txtlabel checkpwd" data-text="1014">Pincodewindow</span>
		<input class="checkpass sj-input" type="password" value="" />
		<ui-button class="btn2 ok sj-btn primary">OK</ui-button>
		<ui-button class="btn2 change sj-btn">Change</ui-button>
		<ui-button class="btn2 verify sj-btn primary">Verify</ui-button>
		<ui-button class="btn2 unused sj-btn"></ui-button>
		<ui-button class="btn2 cancel sj-btn">Cancel</ui-button>
	</div>
	<div class="footer"></div>
</div>
