<div id="Reputation" class="sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<ui-button class="base"></ui-button>
			<ui-text class="text" msg="3827"></ui-text>
		</div>
		<div class="right">
			<ui-button class="base close sj-winbtn">×</ui-button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overall_container">
		<div class="header">
			<div class="select-wrapper">
				<select id="repute_groups" class="rep_group_selector sj-input">
					<option value="all" data-text="3829"></option>
				</select>
				<ui-button class="select-arrow sj-winbtn">▾</ui-button>
			</div>
			<div class="search_wrapper">
				<input class="rep_group_searchbar sj-input" type="text" />
				<ui-button class="search sj-winbtn">⌕</ui-button>
			</div>
			<div class="rep_group_total_points_wrapper">
				<div class="rep_group_text">GROUP:</div>
				<div class="rep_indicator"></div>
				<div class="rep_group_total_points_value"></div>
			</div>
		</div>
		<div class="content"></div>
		<div class="paginator">
			<ui-button class="page_prev sj-winbtn">‹</ui-button>
			<span class="page_text">1 / 1</span>
			<ui-button class="page_next sj-winbtn">›</ui-button>
		</div>
		<div class="footer">
			<ui-button class="big_btn_close sj-btn">Close</ui-button>
		</div>
	</div>
</div>
