<div class="SkillList sj-panel">
	<div class="titlebar sj-titlebar">
		<div class="left">
			<ui-button class="base"></ui-button>
			<span class="text">Skill List</span>
		</div>
		<div class="right">
			<ui-button class="base close sj-winbtn">×</ui-button>
		</div>
		<div class="clear"></div>
	</div>

	<div class="panel">
		<div class="content">
			<table>
				<!-- Just to get reference, will be removed -->
				<ui-button
					class="btn levelup"
					bg="basic_interface/skill_up_a.bmp"
					hover="basic_interface/skill_up_b.bmp"
					down="basic_interface/skill_up_c.bmp"
				></ui-button>
			</table>
		</div>

		<div class="footer">
			<div class="text">Skill Points: <span class="skpoints_count">0</span></div>
			<ui-button class="extend"></ui-button>
		</div>
	</div>
	<ui-button id="lvlup_job" bg="basic_interface/lv_up_off.bmp" down="basic_interface/lv_up_on.bmp"></ui-button>
</div>
